@tailwind base;
@tailwind components;
@tailwind utilities;

/*SCROLLBAR*/
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  --tw-bg-opacity: 1;
  background-color: rgb(12 12 14 / var(--tw-bg-opacity));
}

::-webkit-scrollbar-thumb {
  background-color: #acaa9e;
  transition: all 2.5s ease-in;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(24 24 27);
}

/*MENU ITEMS*/

.menuItem {
  position: relative;
}

.menuItem::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  /*background-color: #A4E720; verde fluo*/
  /*background-color: #73B9A1; verde*/
  /*background-color: #e72081;*/
  background-color: #d6fb41;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menuItem:hover::before,
.menuItem:active::before,
.menuItem:focus::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

/* MENU HAMBURGUESA */

.burger {
  position: relative;
  width: 28px; /* Reducido en un 30% */
  height: 21px; /* Reducido en un 30% */
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 3px; /* Reducido en un 30% */
  width: 100%;
  background: black;
  border-radius: 7px; /* Reducido en un 30% */
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  background-color: #acaa9e;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 3px; /* Ajustado para que encaje mejor con el nuevo tamaño */
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 19px; /* Ajustado para que encaje mejor con el nuevo tamaño */
  left: 3px; /* Ajustado para que encaje mejor con el nuevo tamaño */
}

/*ICONS REDES SOCIALES*/

.icon-container {
  transition: transform 0.5s ease-in-out;
}

.icon-container:hover {
  transform: rotateX(360deg);
}

.zoomimg {
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.7;
}

.zoomimg:hover {
  transform: scale(1.005);
  opacity: 1;
}

.reflejo {
  -webkit-box-reflect: below 2px
    linear-gradient(transparent, transparent, #0004);
  transform-origin: center;
  transform: perspective(1500px) rotateY(10deg);
}

.cristal {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.neon-text {
  text-shadow: 0 0 5px #e72081, 0 0 10px #e72081, 0 0 15px #e72081,
    0 0 20px rgba(231, 32, 129, 0.6);
}

.neon-redes {
  text-shadow: 0 0 5px #2067e7, 0 0 10px #2067e7, 0 0 15px #2067e7,
    0 0 20px rgba(231, 32, 129, 0.6);
}

.textura {
  background-color: #141d1e;
  background-image: url("https://www.transparenttextures.com/patterns/subtle-dark-vertical.png");

}

/* .customText {
  background-image: linear-gradient(
    #d6fb41 25%,
    #d6fb41 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
} */
