@tailwind base;
@tailwind components;
@tailwind utilities;

.bgAll {
  background-color: #000000;
  background-image: url("/fondo.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.sideBar {
  background-color: #000000;
background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.textura {
  background-color: #161f20;
  background-image: linear-gradient(
      to left top,
      #161f20,
      #162022,
      #152223,
      #152325,
      #142527,
      #132729,
      #13282a,
      #122a2c,
      #112c2d,
      #102e2f,
      #0e3030,
      #0d3231
    ),
    url("https://www.transparenttextures.com/patterns/subtle-dark-vertical.png");
  /* La propiedad background-image permite añadir varios fondos, el gradiente y la textura */
}

/*SCROLLBAR*/
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  --tw-bg-opacity: 1;
  background-color: rgb(12 12 14 / var(--tw-bg-opacity));
}

::-webkit-scrollbar-thumb {
  background-color: rgb(161 161 170 / var(--tw-border-opacity));
  transition: all 2.5s ease-in;
  border-radius: 10px;
}

/*MENU ITEMS*/

.menuItem {
  position: relative;
}

.menuItem::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #fff;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menuItem:hover::before,
.menuItem:active::before,
.menuItem:focus::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

/* MENU HAMBURGUESA */

.burger {
  position: relative;
  width: 28px; /* Reducido en un 30% */
  height: 21px; /* Reducido en un 30% */
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 3px; /* Reducido en un 30% */
  width: 100%;
  background: black;
  border-radius: 7px; /* Reducido en un 30% */
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  background-color: #fff;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 3px; /* Ajustado para que encaje mejor con el nuevo tamaño */
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 19px; /* Ajustado para que encaje mejor con el nuevo tamaño */
  left: 3px; /* Ajustado para que encaje mejor con el nuevo tamaño */
}

/*ICONS REDES SOCIALES*/

.icon-container {
  transition: transform 0.5s ease-in-out;
}

.icon-container:hover {
  transform: rotateX(360deg);
}

/* ZOOM AND OPACITY IMAGES */

@media (min-width: 768px) {
  .zoomimg {
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.7;
  }

  .zoomimg:hover {
    z-index: 10;
    transform: scale(1.04) rotate(-1deg);
    opacity: 1;
  }
}

.reflejo {
  -webkit-box-reflect: below 2px
    linear-gradient(transparent, transparent, #0004);
  transform-origin: center;
  transform: perspective(1500px) rotateY(10deg);
}

.cristal {
  background: #0001;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.cristalForm {
  background: #0006;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.neon-text {
  text-shadow: 0 0 5px #e72081, 0 0 10px #e72081, 0 0 15px #e72081,
    0 0 20px rgba(231, 32, 129, 0.6);
}

.neon-redes {
  text-shadow: 0 0 5px #2067e7, 0 0 10px #2067e7, 0 0 15px #2067e7,
    0 0 20px rgba(231, 32, 129, 0.6);
}

.gradient-text {
  background-image: linear-gradient(
    to right bottom,
    #fff 30%,
    hsla(0, 0%, 100%, 0.5)
  );
  background-clip: text;
  color: transparent;
  text-shadow: -1px -1px 0 hsla(0, 0%, 100%, 0.2), 1px 1px 0 rgba(0, 0, 0, 0.1);
}

/* Definimos algunas variables personalizadas */
:root {
  --dot-size: 2px; /* Tamaño de los puntos */
  --animation-duration: 100s; /* Duración de la animación */
  --background-move-distance: 0; /* Comenzar desde abajo (0) hacia arriba */
  --dot-spacing: 20px; /* Espaciado entre los puntos */
}

/* Esta regla de animación aplica la animación llamada "dotScroll" */
@keyframes dotScroll {
  0% {
    background-position: 0 100%; /* Comienza desde abajo */
  }
  100% {
    background-position: 0 0; /* Llega a la parte superior */
  }
}

/* Aplicamos la animación y las propiedades a un elemento con clase "dot-container" */
.dot-container {
  animation: dotScroll var(--animation-duration) linear infinite;
  background-image: radial-gradient(
    circle,
    #2e3c51 var(--dot-size),
    transparent 0
  );
  /* Aumenta el espaciado entre los puntos */
  background-size: 100px calc((100% / 7) - 1px + var(--dot-spacing));
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  z-index: -1;
}
